*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h2{
    background-color: green;
    color: white;
    height: 3rem;
    line-height: 3rem;
}

.choices{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.choices:hover{
    cursor: pointer;
    background-color: rgb(81, 81, 159);
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 2rem;
}

.score{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 4rem;
    margin-top: 3rem;
}

.msg{
    margin-top: 2.5rem;
}

#msg1{
    display: inline;
    font-size: 1.5rem;
    background-color: rgb(80, 80, 109);
    line-height: 3rem;
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 1rem;
}